$p:#2d8cf0;
$lp:#5cadff;
$dp:#2b85e4;
$info:#2db7f5;
$success:#19be6b;
$warning:#ff9900;
$error:#ed4014;
$title:#17233d;
$content:#515a6e;
$sub:#808695;
$disabled:#c5c8ce;
$border:#dcdee2;
$divider:#e8eaec;
$bg:#f8f8f9;