$link:#1890ff;
$success:#52c41a;
$warning:#faad14;
$error:#f5222d;
$title:rgba(0, 0, 0, .85);
$main:rgba(0, 0, 0, .65);
$sub:rgba(0, 0, 0, .45);
$disabled:rgba(0, 0, 0, 0.25);
$border:rgba(0, 0, 0, .15);
$divider:rgba(0, 0, 0, .09);
$bg:rgba(0, 0, 0, .04);
$habg:#f0fffe;
$hover:#5ac4cc;
$p:#36b1bf;
$p1:#f0fffe;
$p2:#dff2f2;
$p3:#aee6e6;
$p4:#82d6d9;
$p5:#5ac4cc;
$p6:#36b1bf;
$p7:#238999;
$p8:#156373;
$p9:#0a3f4d;
$p10:#051e26;
$shadow:0 2px 8px rgba(0, 0, 0, .15);
$borderbase:1px solid rgba(0, 0, 0, .15);